################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HalloWorldConsoleApp/HalloWorld/bin/Debug/net6.0
/HalloWorldConsoleApp/HalloWorld/.vs
/HalloWorldConsoleApp/HalloWorld/obj
